{% extends 'wrapper/box_shadowed.html' %}

{% load i18n static %}

{% block body_content %}

    {% block box_shadowed_content %}

        {% if validlink %}

            <p class="display-4">{% translate 'Confirm Change password' %}</p>

            <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

            <form method="post">{% csrf_token %}
                <fieldset class="module aligned">

                    <div class="col-md-6">
                        <input class="hidden form-control" autocomplete="username" value="{{ form.user.get_username }}">
                        <div class="form-row field-password1">
                            {{ form.new_password1.errors }}
                            <label for="id_new_password1" class="form-label">{% translate 'New password:' %}</label>
                            {{ form.new_password1 }}
                        </div>
                        <div class="form-row field-password2">
                            {{ form.new_password2.errors }}
                            <label for="id_new_password2" class="form-label">{% translate 'Confirm password:' %}</label>
                            {{ form.new_password2 }}
                        </div>
                    </div>
                    <div class="col-md-12 mt-2">
                        <input type="submit" class="btn btn-dark" value="{% translate 'Change my password' %}">
                    </div>
                </fieldset>
            </form>

        {% else %}

            <p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

        {% endif %}

    {% endblock %}

{% endblock %}
