{% extends 'wrapper/box_shadowed.html' %}

{% load i18n %}
{% block head_title %} Password reset {% endblock %}

{% block form_content %}

    {% block box_shadowed_content %}

        <p class="display-4">Password reset</p>

        <p class="lead">{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

        <form method="post" class="row g-3">{% csrf_token %}
            <div class="col-md-6">
                {{ form.email.errors }}
                <label for="id_email" class="form-label">{% translate 'Email address:' %}</label>
                {{ form.email }}
            </div>
            <div class="col-12">
                <input type="submit" class="btn btn-dark" value="{% translate 'Reset my password' %}">
            </div>
        </form>

    {% endblock %}
{% endblock %}
