{% extends 'wrapper/box_shadowed.html' %}

{% load static %}

{% block head_title %}Dashboard{% endblock %}
{% load i18n %}



{% block box_shadowed_content %}

    <p class="display-4">Password reset done...</p>

    <p class="lead">{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

    <p class="lead">{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>

    <a href="{% url 'index' %}" class="btn btn-dark" role="button">{% translate 'Home' %}</a>

{% endblock %}

