{% extends "base.html" %}

{% block head_title %}{{ object.name }} | Details {% endblock %}

{% block body_content %}

    <div class="col-md-8 offset-md-2 shadow p-4 my-4">
        <p class="display-6">Remote report directory of {{ object }} </p>
        {% if reports %}

            <div class="col-md-auto offset-md-0 mt-0">

                <p class="lead">Overview of the current report results on the remote device {{ object.name }} ({{ object.ssh_config.hostname }}).

                <p class="">
                    <a href="{% url 'rack-download-report' rack_pk=object.pk %}?next={{ request.path|urlencode }}"
                       class="my-0 btn btn-dark w-100"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       data-bs-title="Download all reports of the remote device {{ object }}.">
                        <i class="fa fa-download" aria-hidden="true"></i> Download all reports
                    </a>
                </p>

            </div>

            {% include 'includes/report_pie_chart.html' with n_absolute=remote_report_collection|length n_failed=remote_reports_failed n_passed=remote_reports_passed title='RemoteReports' %}


        {% else %}
            <p class="lead">No reports available on {{ rack.name }} ({{ rack.ssh_config.hostname }}).</p>
        {% endif %}

        <a href="{% url 'rack-update' pk=rack.pk %}" class="btn btn-dark"><i class="fa-sharp fa-solid fa-pen"></i> Edit</a>
    </div>


    <div class="col-md-8 offset-md-2 shadow p-4 my-4">
        <div class="row">
            <p class="display-6">Archive {{ object }} </p>

            {% if object.archive.reports %}

                <div class="col-md-auto offset-md-0 mt-0">

                    <p class="lead">Overview of the archive of the rack {{ object.name }}.</p>

                </div>

                <a href="{% url 'rack-report-list-filtered' rack_pk=object.pk %}"
                   class="btn btn-dark w-100"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   data-bs-title="List of all reports in the archive {{ rack.archive }}.">

                    <i class="fa fa-list" aria-hidden="true"></i> Reports

                </a>

                {% include 'includes/report_pie_chart.html' with n_absolute=rack.archive.reports.all|length n_failed=rack.archive.get_number_of_failed n_passed=rack.archive.get_number_of_passed title='ArchiveReports' %}

            {% else %}
                <p class="lead">No reports available in archive of {{ rack.name }}.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}