{% extends "base.html" %}
{% load i18n %}

{#{% load static %}#}

{% block head_title %}
    {{ rack.name }} | Filtered Report List
{% endblock %}


{% block head_style %}
    <style>
        iframe[seamless] {
            border: none;
        }
    </style>
{% endblock %}

{% block body_content %}
    <div class="col-md-8 offset-md-2 shadow-lg p-4">
        <p class="display-4">Archive Report List</p>
        <p class="lead">A filtered list of all archived report of <a class="link-dark"
                                                                     href="{% url 'rack-detail' rack.pk %}">{{ rack }}</a>.
        </p>

        <hr>

        {% include 'includes/filter_form_label_input_inline.html' with form=filterset.form title='report filter' id=0 %}

        <hr>

        <p>Number of reports: {{ filterset.qs|length }}</p>

        <form action="{% url 'rack-reports-delete-selected' rack_pk=rack.pk %}?next={{ request.path|urlencode }}"
              method="post">
            {% csrf_token %}
            {#            <button type="submit" name="delete_selected" value="">#}

            <div class="d-flex justify-content-start">
                <button class="btn btn-outline-danger mx-2"
                        type="submit"><i class="fa-sharp fa-solid fa-trash "></i> Remove selected
                </button>

                <a class="btn btn-danger mx-2"
                   href="{% url 'rack-reports-delete-all' rack.pk %}">
                    <i class="fa-solid fa-triangle-exclamation"></i> Remove all</a>
            </div>


            <table class="table table-striped">

                <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll"></th>
                    <th scope="col">Report</th>
                    <th scope="col">Created</th>
                    <th scope="col">Result</th>

                    {#                    <th scope="col">Actions</th>#}
                </tr>
                </thead>

                {% for report in object_list %}
                    <tr class="{% if report.result == "FAILED" %}table-danger{% endif %} ">

                        <td><input type="checkbox" name="cb_report_{{ report.pk }}"></td>
                        <td>
                            <a class="link-dark"
                               href="{% url 'rack-report-detail' rack_pk=rack.pk pk=report.pk %}">{{ report.name }}</a>
                        </td>

                        <td>{{ report.created|date:"Y.m.d" }} {{ report.created|time:"G:i:s" }}</td>

                        <td {% if report.verdict == 'PASSED' %}
                            class="fw-bold text-success fs-5"
                        {% elif report.verdict == 'FAILED' %}
                            class="fw-bold text-danger fs-5"
                        {% else %}
                            class="fw-bold fs-5"
                        {% endif %} >
                            {% if report.verdict == 'PASSED' %}
                                <i class="fa-solid fa-circle-check"></i>
                            {% elif report.verdict == 'FAILED' %}
                                <i class="fa-sharp fa-solid fa-circle-xmark"></i>
                            {% else %}
                                {{ report.verdict }}
                            {% endif %}
                        </td>
                        {#                        <td>#}
                        {#                            <a class="btn btn-outline-dark" href="{% url 'rack-report-detail' rack_pk=rack.pk pk=report.pk %}"><i class="fa-sharp fa-solid fa-chart-line "></i> Details</a>#}
                        {#                            <a class="btn btn-danger" href="{% url 'rack-report-delete' rack_pk=rack.pk pk=report.pk %}"><i class="fa-sharp fa-solid fa-trash"></i> Delete</a>#}
                        {#                        </td>#}

                    </tr>
                {% endfor %}
            </table>

            {% include "includes/pagination.html" with objects=filterset.qs %}

        </form>


    </div>

    <script type="application/javascript">
        $('#selectAll').click(function (e) {
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
        });
    </script>


{% endblock %}