{% extends "base.html" %}
{% load i18n %}

{#{% load static %}#}

{% block head_title %}
    {{ rack.name }} | Filtered Report List
{% endblock %}


{% block head_style %}
    <style>
        iframe[seamless] {
            border: none;
        }
    </style>
{% endblock %}

{% block body_content %}
    <div class="col-md-8 offset-md-2 shadow-lg p-4">
        <p class="display-4">Archive Report List</p>
        <p class="lead">A filtered list of all archived report of {{ rack }}.</p>

        <hr>
        {% include 'includes/filter_form_label_input_inline.html' with form=filterset.form title='report filter' id=0 %}

        <hr>

        <p>Number of reports: {{ filterset.qs|length }}</p>

        <form action="{% url 'rack-reports-delete-selected' rack_pk=rack.pk %}?next={{ request.path|urlencode }}" method="post">{% csrf_token %}
            {#            <button type="submit" name="delete_selected" value="">#}

            <button type="submit" class="btn btn-danger"><i class="fa-sharp fa-solid fa-trash "></i> Remove</button>

            <table class="table table-striped">

                <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll"></th>
                    <th scope="col">Report</th>
                    <th scope="col">Result</th>
                    <th scope="col">Created</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>

                {% for report in filterset.qs %}
                    <tr class="{% if report.result == "FAILED" %}table-danger{% endif %} ">

                        <td><input type="checkbox" name="cb_report_{{ report.pk }}"></td>
                        <td>{{ report.name }}</td>
                        <td>{{ report.verdict }}</td>
                        <td>{{ report.created|date:"Y.m.d" }} {{ report.created|time:"G:i:s" }}</td>
                        <td>
                            <a href="{% url 'rack-report-detail' rack_pk=rack.pk pk=report.pk %}"><i class="fa-sharp fa-solid fa-chart-line text-dark"></i></a>
                            <a href="{% url 'rack-report-delete' rack_pk=rack.pk pk=report.pk %}"><i class="fa-sharp fa-solid fa-trash text-danger"></i></a>
                        </td>

                    </tr>
                {% endfor %}
            </table>

        </form>


    </div>

    <script type="application/javascript">
        $('#selectAll').click(function (e) {
            var table = $(e.target).closest('table');
            $('td input:checkbox', table).prop('checked', this.checked);
        });
    </script>


{% endblock %}