{% extends "wrapper/list_view.html" %}

{% block standard_list_head_title %}Create {{ object.name }}{% endblock %}

{% block standard_list_content %}



    <p><a href="{% url 'rack-create' %}"><i class="fa fa-plus fa-lg text-success" aria-hidden="true"></i></a></p>

    <div class="container overflow-hidden text-left">

        <div class="row">

            <div class="col-sm-5">

                <div class="row g-2">

                    <p class="display-4">Racks</p>

                    <p class="lead">A list of all configured racks.</p>

                    {% for rack in object_list %}

                        <div class="hstack gap-3 shadow-sm bg-light p-2">
                            <input class="form-control me-auto" type="text" readonly placeholder="{{ rack.name }}">

                            <a href="{% url 'rack-detail' pk=rack.pk %}"><i class="fa-sharp fa-solid fa-chart-line text-dark"></i></a>
                            {#                            <div class="vr"></div>#}
                            <a href="{% url 'rack-update' pk=rack.pk %}"><i class="fa-sharp fa-solid fa-pen text-primary"></i></a>
                            {#                            <div class="vr"></div>#}
                            <a href="{% url 'rack-delete' pk=rack.pk %}"><i class="fa-sharp fa-solid fa-trash text-danger"></i></a>
                        </div>

                    {% empty %}
                        <p>No racks yet.</p>
                    {% endfor %}


                </div>
            </div>

            <div class="col">

                <p class="display-4">Allover testresults...</p>

                <p class="lead">Include block diagram of all racks</p>


                <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

                <script>
                    var xValues = ["UR20-FBC-EIP", "UR20-FBC-EIP-ECO", "UR20-FBC-EIP-V2", "UR20-FBC-MOD", "UR20-FBC-MOD-ECO"];
                    var yValues = [55, 49, 44, 24, 15];
                    var barColors = ["red", "green", "blue", "orange", "brown"];

                    new Chart("myChart", {
                        type: "bar",
                        data: {
                            labels: xValues,
                            datasets: [{
                                backgroundColor: barColors,
                                data: yValues
                            }]
                        },
                        options: {
                            legend: {display: false},
                            title: {
                                display: true,
                                text: "Absolute numbers of test cases."
                            }
                        }
                    });
                </script>


            </div>
        </div>


    </div>

{% endblock %}