{% extends "wrapper/standard_create_view.html" %}

{% block standard_create_head_title %} {{ title }} | Create {% endblock %}

{% block standard_create_content %}

    <p class="display-4">Create {{ title }}</p>

    <p class="lead">Create a new {{ title }}.</p>

    <form method="post" class="form-floating">{% csrf_token %}

        {% for field in form %}
            <div class="form-floating mb-3">
                {{ field.errors }}
                {{ field }} {{ field.label_tag }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}

        <input type="submit" value="Create" class="btn btn-dark">
    </form>

{% endblock %}