<nav class="navbar bg-ligt fixed-top shadow-sm" style="background-color: orange; position: relative; color: whitesmoke">
    <div class="container-fluid" style="background-color: orange">

        <a class="navbar-brand fw-bolder text-dark " href="/home/"><b></b>u-test | u-remote dashboard</a>

        {#        <form class="d-inline-flex" role="search">#}
        {#            <input class="form-control me-2 w-75" type="search" placeholder="Search" aria-label="Search">#}
        {#            <button class="btn btn-outline-success" type="submit">Search</button>#}
        {#        </form>#}

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-dark" id="offcanvasNavbarLabel">u-test | dashboard</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}"><b>Home</b></a>
                    </li>

                    <hr>

                    <li class="navbar-text">
                        <i class="fa fa-user-circle" aria-hidden="true"></i> <b>Account</b>
                    </li>

                    {% if user.is_authenticated %}
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            User ({{ user.username }})
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                            <li><a class="dropdown-item" href="#">Dummy</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>


                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user-register' %}">Register</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/admin/">Admin</a>
                    </li>

                    <hr>

                    <li class="navbar-text">
                        <i class="fa fa-user-circle" aria-hidden="true"></i> <b>Racks</b>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'rack-create' %}">Create</a>
                    </li>

                </ul>


            </div>
        </div>
    </div>
</nav>
