<div class="row">

    <div class="col-sm-auto offset-md-0 my-0">
        <div id="donutchart_{{ title }}" class="m-0"></div>
    </div>

    <div class="col-md-4 offset-md-0 mt-4">

        <p class="lead m-0">All reports:</p>
        <p class="lead m-0">Failed reports:</p>
        <p class="lead m-0">Passed reports:</p>

    </div>

    <div class="col-md-1 offset-md-0 mt-4">

        <p class="lead m-0">{{ n_absolute }}</p>
        <p class="lead m-0">{{ n_failed }}</p>
        <p class="lead m-0">{{ n_passed }}</p>

    </div>
</div>

<script type="text/javascript">
    google.charts.load("current", {packages: ["corechart"]});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Result', 'Number'],
            ['Failed', {{ n_failed }}],
            ['Passed', {{ n_passed }}],
        ]);

        var options = {
            {#'title': 'Results',#}
            'width': 300,
            'height': 250,
            'colors': ['#fc0303', '#1cfc03'],
            chartArea:{left:0,top:20,width:'100%',height:'75%'},
            pieHole: 0.2,
            legend: {position: 'bottom', textStyle: {color: 'black', fontSize: 16}},
            fontSize : 16,
            pieSliceText: 'none'
        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart_{{ title }}'));

        chart.draw(data, options);
    }
</script>

